/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "sofiapro-light";
  src: url("../fonts/sofiapro-light.otf");
}
.view__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  gap: 35px;
}
.view__container .header__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  gap: 20px;
}
.view__container .header__page h1 {
  font-family: "sofiapro-light";
  font-size: 2rem;
  color: #393939;
  font-weight: bolder;
}
.view__container .header__page p {
  font-family: "sofiapro-light";
  color: #393939;
  opacity: 0.7;
  line-height: 1.3rem;
  font-size: 1.2rem;
}
.view__container .page__illustration {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: auto;
}
.view__container .page__illustration svg {
  height: 18rem;
  width: 18rem;
}

.form__page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: auto;
}
.form__page .form__control__box {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.form__page .form__control__box label {
  font-family: "sofiapro-light";
  color: #393939;
  font-size: 1rem;
  font-weight: bold;
}
.form__page .form__control__box .form__control__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: "sofiapro-light";
  color: #393939;
  font-size: 1rem;
  padding: 20px;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.form__page .form__control__box .form__control__input:focus {
  background: #c347ff;
  color: #ffffff;
  border-color: transparent;
}
.form__page .form__control__box .form__control__input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.form__page .form__control__box .form__control__input:focus::-moz-placeholder {
  color: #ffffff;
}
.form__page .form__control__box .form__control__input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.form__page .form__control__box .form__control__input:focus::-ms-input-placeholder {
  color: #ffffff;
}
.form__page .form__control__box .form__control__input:focus::placeholder {
  color: #ffffff;
}
.form__page #forgot__password {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #c347ff;
  font-size: 0.8rem;
}

.text__form {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: auto;
  font-family: "sofiapro-light";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  gap: 10px;
}
.text__form a {
  font-family: "sofiapro-light";
  color: #c347ff;
  font-size: 1rem;
  font-weight: bold;
}